h2 {
    color: red;
    padding: 2rem;
}
body {
    padding : 2rem;
}
.movie_poster {
    width: 150px;
    float: left
}
.movie_icon {
    font-size: 1.6rem;
}
.description {
    margin-left: 15px;
}
.card {
    width: 36rem;
}
